.statistics {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
    flex-direction: column;
  }
  .statistics__good,
  .statistics__bad,
  .statistics__neutral,
  .statistics__total,
  .statistics__PF {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: rgb(31, 31, 31);
  }